<div class="menu">
    <a class="toggleMenu" href="#"><img src="{{ asset('images/nav.png')}}" alt="" /></a>Cheep Air line Tickets
    <ul class="nav" id="nav">
        <li class="active"><a href="index.html">Reality</a></li>
        <li><a href="living.html">Living</a></li>
        <li><a href="education.html">Education</a></li>
        <li><a href="entertain.html">Entertainment</a></li>
        <li><a href="404.html">Mobility</a></li>
        <div class="clearfix"></div>
    </ul>
    <script type="text/javascript" src="{{ asset('js/responsive-nav.js')}}"></script>
</div>